[submodule ".vim/AutoComplPop"]
	path = .vim/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule ".vim/FuzzyFinder"]
	path = .vim/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule ".vim/L9"]
	path = .vim/L9
	url = https://github.com/vim-scripts/L9.git
[submodule ".vim/Tagbar"]
	path = .vim/Tagbar
	url = https://github.com/vim-scripts/Tagbar.git
[submodule ".vim/nerdtree"]
	path = .vim/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pyflakes"]
	path = .vim/pyflakes
	url = https://github.com/kevinw/pyflakes.giy
